# Bitrix
/bitrix/
/upload/

!/bitrix/templates
!/bitrix/components
/bitrix/components/bitrix

/.access.php
/.bottom.menu.php
/.department.menu_ext.php
/.htaccess
/.section.php
/.top.menu.php
/.top.menu_ext.php
/.top_links.menu.php
/404.php
/500.html
/agent_contract/
/ai/
/apconnect/
/auth.php
/auth/
/automation/
/bi/
/biconnector/
/bizproc/
/bizprocdesigner/
/blank.php
/booking/
/calendar/
/call/
/collaboration/
/company/
/conference/
/configs/
/crm/
/departments/
/desktop.php
/desktop_app/
/desktop_menu/
/devops/
/docs/
/favicon.ico
/gotobot/
/guest/
/hr/
/images/
/include/
/index.php
/index_old.php
/kb/
/knowledge/
/license_restriction.php
/mail/
/market/
/marketing/
/marketplace/
/mobile/
/note/
/oauth/
/onec/
/online/
/page/
/pub/
/report/
/robots.txt
/rpa/
/saleshub/
/search/
/services/
/settings/
/shop/
/sign/
/sitemap/
/sites/
/spaces/
/stream/
/sync/
/tasks/
/telephony/
/terminal/
/timeman/
/urlrewrite.php
/ustat.php
/vibe/
/vote-result/
/welcome/
/workgroups/

# Local
/local/cache/
/local/managed_cache/
/local/stack_cache/
/local/tmp/
/local/logs/
/local/var/
/local/vendor/
/local/php_interface/dbconn.php
/.env*
/local/.env*
!/.env.example
!/local/.env.example
/.settings.php
/.settings_extra.php

# Other
/.idea
/node_modules/
/local/node_modules/
/bitrixsetup.php
/restore.php
/backup/
/logs/
*.bak
*.log
*.log.*
*.sql
*.sql.gz
*.tar
*.tar.gz
*.tgz
*.zip
*.rar
*.7z
*.iml
*~
*.swp
*.swo
.DS_Store
Thumbs.db